body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ccc;
  font-family: Arial, sans-serif;
  gap: 20px;
}

.welcome {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.button{
    background-color: #212121;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #555;
}

