/* GMAIL BLOCK */
.gmail_block, .inn_block {
    background: #F4F4F4;
    padding: 100px 0;
}

.inner_gmail_block, .inner_inn_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #1D546C;
    height: 300px;
    border-radius: 20px;
    align-items: center;
}

.form_gmail, .form_inn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_gmail button, .form_inn button {
    width: 100%;
    margin: 20px 0;
}

/* MOVE BLOCK */
.move_block {
    background: #F4F4F4;
    padding: 100px 0;
}

.parent_block {
    height: 500px;
    width: 500px;
    border: 1px solid #1D546C;
    position: relative;
    margin: 0 auto;
}

.inner_parent_block {
    height: 400px;
    width: 400px;
    border: 1px solid #1D546C;
    border-radius: 18px;
}

.child_block {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #1A3D64; /* заменил красный на акцент */
}

.inner_move_block {
    margin-top: 50px;
}

/* ANALOG CLOCK */
.clock {
    --clock-size: 360px;
    width: var(--clock-size);
    height: var(--clock-size);
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 50%;
    color: #0C2B4E;
}

.spike {
    position: absolute;
    width: 8px;
    height: 1px;
    background: #0C2B4E99;
    line-height: 20px;
    transform-origin: 50%;
    z-index: 5;
    inset: 0;
    margin: auto;
    font-style: normal;
    transform: rotate(var(--rotate)) translateX(var(--dail-size));
}

.spike:nth-child(5n+1) {
    box-shadow: -7px 0 #0C2B4E99;
}

.spike:nth-child(5n+1):after {
    content: attr(data-i);
    position: absolute;
    right: 22px;
    top: -10px;
    transition: 1s linear;
    transform: rotate(calc(var(--dRotate) - var(--rotate)));
}

.seconds {
    --dRotate: 0deg;
    --dail-size: calc((var(--clock-size)/ 2) - 8px);
    font-weight: 800;
    font-size: 18px;
    transform: rotate(calc(-1 * var(--dRotate)));
    position: absolute;
    inset: 0;
    margin: auto;
    transition: 1s linear;
}

.minutes {
    --dail-size: calc((var(--clock-size)/ 2) - 65px);
    font-size: 16px;
    transform: rotate(calc(-1 * var(--dRotate)));
    position: absolute;
    inset: 0;
    margin: auto;
    transition: 1s linear;
}

.stop-anim {
    transition: 0s linear;
}
.stop-anim .spike:after {
    transition: 0s linear !important;
}

.hour {
    font-size: 70px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #0C2B4E;
}

.minute {
    font-size: 36px;
    font-weight: 900;
    position: absolute;
    background: #1D546C;
    z-index: 10;
    right: calc(var(--clock-size)/ 4.5);
    top: 50%;
    transform: translateY(-50%);
}
.minute:after {
    content: "";
    position: absolute;
    border: 2px solid #1A3D64;
    border-right: none;
    height: 50px;
    left: -10px;
    top: 50%;
    border-radius: 40px 0 0 40px;
    width: calc(var(--clock-size)/ 2.75);
    transform: translatey(-50%);
}

/* STOP WATCH */
.time {
    color: #0C2B4E;
    display: flex;
    justify-content: center;
    font-size: 80px;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #1D546C;
    margin-top: 40px;
}

.time_block {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.stopwatch {
    padding: 100px 0;
    background: #F4F4F4;
}

.time_buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
